<template>
<main>
    <Header/>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
           <Sidebar />
        </div>
        <div id="layoutSidenav_content">
            <router-view></router-view>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2019</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <FlashMessage :position="'right bottom'"></FlashMessage>
</main>
</template>

<script>
import Header from './components/Header';
import Sidebar from './components/Sidebar';
import * as auth from './services/auth_service';
export default {
    components: {
        Header,
        Sidebar
    },
    beforeCreate: async function(){
        try {
            if(auth.isLoggedIn()){
                const response = await auth.getProfile();
                this.$store.dispatch('authenticate', response.data);
            }
        } catch (error) {
            auth.logout();
        }
    }
}
</script>

<style>

</style>