// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.modal-backdrop{
    background-color: rgba(0,0,0,0.5) !important;
}

div.invalid-feedback{
    display: inline-block !important;
}