<template>
    <main>
        <h1>404</h1>
        <div>Page not found</div>
    </main>
</template>

<script>
import * as user from '../services/user_service';

export default {
    methods: {
        userScope: async function(){
            try {
                const response = await user.userScope();
                console.log(response);
            } catch (error) {
                console.log('' + error, error.response.status);
            }
        },
        adminScope: async function(){
            try {
                const response = await user.adminScope();
                console.log(response);
            } catch (error) {
                console.log('' + error, error.response.status);
            }
        },
    }
}
</script>

<style>

</style>