<template>
  <main>
    <div class="container-fluid">
      <h1 class="mt-4">Tables</h1>
      <div class="card mb-4">
        <div class="card-header d-flex">
          <span><i class="fas fa-table mr-1"></i>Categories</span>
          <button class="btn btn-primary btn-sm ml-auto" @click="showNewCategoryModal">Create</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(category, index) in categories" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                            <img :src="`${$store.state.serverPath}/storage/categories/${category.image}`" width="100px"/>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm" @click="editCategory(category)"><span class="fa fa-edit"></span></button>
                            <button class="btn btn-danger btn-sm" @click="deleteCategory(category)"><span class="fa fa-trash"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center" v-show="moreExists">
                <button class="btn btn-primary btn-sm" @click="LoadMoreRecords()"><span class="fa fa-arrow-down"></span>Load more ...</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal ref="newCategoryModal" hide-footer title="Add new Category">
        <div class="d-block">
            <form v-on:submit.prevent="createCategory">
                <div class="form-group">
                    <label for="name">Category name</label>
                    <input type="text" class="form-control" id="name" v-model="categoryData.name"/>
                    <div class="invalid-feedback" v-if="errors.name">{{ errors.name[0] }}</div>
                </div>
                <div class="form-group">
                    <label for="image">Choose Image</label>
                    <div v-if="categoryData.image">
                        <img src="" style="width:150px" ref="newCategoryImageDisplay">
                    </div>
                    <input type="file" class="form-control" id="image" ref="newCategoryImage" v-on:change="attachImage"/>
                    <div class="invalid-feedback" v-if="errors.image">{{ errors.image[0] }}</div>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-default" @click="hideNewCategoryModal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </b-modal>
    <b-modal ref="editCategoryModal" hide-footer title="Update Category">
        <div class="d-block">
            <form v-on:submit.prevent="updateCategory">
                <div class="form-group">
                    <label for="name">Category name</label>
                    <input type="text" class="form-control" id="name" v-model="editCategoryData.name"/>
                    <div class="invalid-feedback" v-if="errors.name">{{ errors.name[0] }}</div>
                </div>
                <div class="form-group">
                    <label for="image">Choose Image</label>
                    <div v-if="editCategoryData.image">
                        <img :src="`${$store.state.serverPath}/storage/categories/${editCategoryData.image}`" style="width:150px" ref="editCategoryImageDisplay">
                    </div>
                    <input type="file" class="form-control" id="image" ref="editCategoryImage" v-on:change="editAttachImage"/>
                    <div class="invalid-feedback" v-if="errors.image">{{ errors.image[0] }}</div>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-default" @click="hideEditCategoryModal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </b-modal>
  </main>
</template>

<script>
import * as categoryService from '../services/category_service';

export default {
    name: "categories",
    data() {
        return {
            categories: [],
            categoryData: {
                name: '',
                image: ''
            },
            editCategoryData:{},
            moreExists: false,
            nextPage:0,
            errors: {}
        }
    },
    mounted(){
        this.loadCategories();
    },
    methods:{
        loadCategories: async function(){
            try {
                const response = await categoryService.loadCategories();
                this.categories = response.data.data;
                console.log(this.categories);

                if(response.data.current_page < response.data.last_page){
                    this.moreExists = true;
                    this.nextPage = response.data.current_page + 1;
                }
                else{
                    this.moreExists = false;
                }
            } 
            catch (error) {
                this.flashMessage.error({
                    message: 'Some error occurred!',
                    time: 5000
                });
            }
        },
        attachImage(){
            //to use file reader
            this.categoryData.image= this.$refs.newCategoryImage.files[0];
            
            let reader = new FileReader();
            reader.addEventListener('load', function(){
                this.$refs.newCategoryImageDisplay.src = reader.result;
            }.bind(this), false);

            reader.readAsDataURL(this.categoryData.image);
        },
        hideNewCategoryModal(){
            this.$refs.newCategoryModal.hide();
        },
        showNewCategoryModal(){
            this.$refs.newCategoryModal.show();
        },
        createCategory: async function(){
            let formData = new FormData();
            formData.append('name', this.categoryData.name);
            formData.append('image', this.categoryData.image);

            try {
                const response = await categoryService.createCategory(formData);
                this.categories.unshift(response.data);

                this.hideNewCategoryModal();
                this.flashMessage.success({
                    message: 'Category stored successfully!',
                    time: 5000
                });
                this.categoryData = {
                    name: '',
                    image: ''
                };
            } 
            catch (error) {
                console.log(error.response.status)
                switch (error.response.status) {
                    case 422:
                        this.errors = error.response.data.errors;
                        break;
                
                    default:
                        this.flashMessage.error({
                            message: 'Some error occurred!',
                            time: 5000
                        });
                        break;
                }
            }
        },
        deleteCategory: async function(category){
            if(!window.confirm(`Are you sure you want to delete ${category.name}`)){
                return;
            }

            try {
                await categoryService.deleteCategory(category.id);
                this.categories = this.categories.filter(obj => {
                    return obj.id != category.id;
                });
                this.flashMessage.success({
                    message: 'Category deleted successfully!',
                    time: 5000
                });
            } 
            catch (error) {
                this.flashMessage.error({
                    message: error.response.data.message,
                    time: 5000
                });
            }
        },

        //------------------- Edit -----------------//
        hideEditCategoryModal(){
            this.$refs.editCategoryModal.hide();
        },
        showEditCategoryModal(){
            this.$refs.editCategoryModal.show();
        },
        editAttachImage(){
            //to use file reader
            this.editCategoryData.image= this.$refs.editCategoryImage.files[0];
            
            let reader = new FileReader();
            reader.addEventListener('load', function(){
                this.$refs.editCategoryImageDisplay.src = reader.result;
            }.bind(this), false);

            reader.readAsDataURL(this.editCategoryData.image);
        },
        editCategory(category){
            this.editCategoryData = {...category};
            this.showEditCategoryModal();
        },
        updateCategory: async function(){
            try {
                const formData = new FormData();
                formData.append('name', this.editCategoryData.name);
                formData.append('image', this.editCategoryData.image);
                formData.append('_method', 'PUT');
                
                const response = await categoryService.updateCategory(this.editCategoryData.id ,formData);
                this.categories.map(category=> {
                    if(category.id == response.data.id){
                        // category = response.data;
                        // Hoặc
                        for(let key in response.data){
                            category[key] = response.data[key]
                        }
                    }
                });

                this.hideEditCategoryModal();
                this.flashMessage.success({
                    message: 'Category updated successfully!',
                    time: 5000
                });
            } catch (error) {
                this.flashMessage.error({
                    message: error.response.data.message,
                    time: 5000
                });
            }
        },
        
        //----------------- Load more -------------------//
        LoadMoreRecords: async function(){
            console.log('loadmore');
            try {
                const response = await categoryService.loadMore(this.nextPage);
                
                if(response.data.current_page < response.data.last_page){
                    this.moreExists = true;
                    this.nextPage = response.data.current_page + 1;
                }
                else{
                    this.moreExists = false;
                }

                response.data.data.forEach(data => {
                    this.categories.push(data);
                });
            } catch (error) {
                this.flashMessage.error({
                    message: 'Some error occurred during loading more categories',
                    time: 5000
                });
            }
        }
    }
};
</script>

<style>
</style>