<template>
  <main>
    <div class="container-fluid">
      <h1 class="mt-4">Tables</h1>
      <div class="card mb-4">
        <div class="card-header d-flex">
          <span><i class="fas fa-table mr-1"></i>Products</span>
          <button class="btn btn-primary btn-sm ml-auto" @click="showNewProductModal">Create</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(product, index) in products" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ findCategory(product.category_id) }}</td>
                        <td>
                            <img :src="`${$store.state.serverPath}/storage/products/${product.image}`" width="100px"/>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm" @click="editProduct(product)"><span class="fa fa-edit"></span></button>
                            <button class="btn btn-danger btn-sm" @click="deleteProduct(product)"><span class="fa fa-trash"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center" v-show="moreExists">
                <button class="btn btn-primary btn-sm" @click="LoadMoreRecords()"><span class="fa fa-arrow-down"></span>Load more ...</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal ref="newProductModal" hide-footer title="Add new Product">
        <div class="d-block">
            <form v-on:submit.prevent="createProduct">
                <div class="form-group">
                    <label for="name">Product name</label>
                    <input type="text" class="form-control" id="name" v-model="productData.name"/>
                    <div class="invalid-feedback" v-if="errors.name">{{ errors.name[0] }}</div>
                </div>
                <div class="form-group">
                    <label for="category_id">Category</label>
                    <select v-model="productData.category_id" id="category_id" class="form-control">
                        <option value="">Choose category</option>
                        <option v-for="(category, index) in categories" :value="category.id" :key="index">
                            {{ category.name }}
                        </option>
                    </select>
                    <div class="invalid-feedback" v-if="errors.category_id">{{ errors.category_id[0] }}</div>
                </div>
                <div class="form-group">
                    <label for="image">Choose Image</label>
                    <div v-if="productData.image">
                        <img src="" style="width:150px" ref="newProductImageDisplay">
                    </div>
                    <input type="file" class="form-control" id="image" ref="newProductImage" v-on:change="attachImage"/>
                    <div class="invalid-feedback" v-if="errors.image">{{ errors.image[0] }}</div>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-default" @click="hideNewProductModal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </b-modal>
    <b-modal ref="editProductModal" hide-footer title="Update Product">
        <div class="d-block">
            <form v-on:submit.prevent="updateProduct">
                <div class="form-group">
                    <label for="name">Product name</label>
                    <input type="text" class="form-control" id="name" v-model="editProductData.name"/>
                    <div class="invalid-feedback" v-if="errors.name">{{ errors.name[0] }}</div>
                </div>
                <div class="form-group">
                    <label for="category_id">Category</label>
                    <select v-model="productData.category_id" id="category_id" class="form-control">
                        <option value="">Choose category</option>
                        <option v-for="(category, index) in categories" :value="category.id" :key="index">
                            {{ category.name }}
                        </option>
                    </select>
                    <div class="invalid-feedback" v-if="errors.category_id">{{ errors.category_id[0] }}</div>
                </div>
                <div class="form-group">
                    <label for="image">Choose Image</label>
                    <div v-if="editProductData.image">
                        <img :src="`${$store.state.serverPath}/storage/products/${editProductData.image}`" style="width:150px" ref="editProductImageDisplay">
                    </div>
                    <input type="file" class="form-control" id="image" ref="editProductImage" v-on:change="editAttachImage"/>
                    <div class="invalid-feedback" v-if="errors.image">{{ errors.image[0] }}</div>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-default" @click="hideEditProductModal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </b-modal>
  </main>
</template>

<script>
import * as productService from '../services/product_service';

export default {
    name: "products",
    data() {
        return {
            products: [],
            categories: [],
            productData: {
                name: '',
                image: '',
                category_id: ''
            },
            editProductData:{},
            moreExists: false,
            nextPage:0,
            errors: {}
        }
    },
    mounted(){
        this.loadProducts();
        this.loadCategories();
    },
    methods:{
        loadProducts: async function(){
            try {
                const response = await productService.loadProducts();
                this.products = response.data.data;

                if(response.data.current_page < response.data.last_page){
                    this.moreExists = true;
                    this.nextPage = response.data.current_page + 1;
                }
                else{
                    this.moreExists = false;
                }
            } 
            catch (error) {
                this.flashMessage.error({
                    message: 'Some error occurred!',
                    time: 5000
                });
            }
        },
        loadCategories: async function(){
            try {
                const response = await productService.loadCategories();
                this.categories = response.data;
            } 
            catch (error) {
                this.flashMessage.error({
                    message: 'Some error occurred!',
                    time: 5000
                });
            }
        },
        attachImage(){
            //to use file reader
            this.productData.image= this.$refs.newProductImage.files[0];
            
            let reader = new FileReader();
            reader.addEventListener('load', function(){
                this.$refs.newProductImageDisplay.src = reader.result;
            }.bind(this), false);

            reader.readAsDataURL(this.productData.image);
        },
        hideNewProductModal(){
            this.$refs.newProductModal.hide();
        },
        showNewProductModal(){
            this.$refs.newProductModal.show();
        },
        createProduct: async function(){
            let formData = new FormData();
            formData.append('name', this.productData.name);
            formData.append('image', this.productData.image);
            formData.append('category_id', this.productData.category_id);

            try {
                const response = await productService.createProduct(formData);
                this.products.unshift(response.data);

                this.hideNewProductModal();
                this.flashMessage.success({
                    message: 'Product stored successfully!',
                    time: 5000
                });
                this.productData = {
                    name: '',
                    image: '',
                    category_id:''
                };
            } 
            catch (error) {
                console.log(error.response.status)
                switch (error.response.status) {
                    case 422:
                        this.errors = error.response.data.errors;
                        break;
                
                    default:
                        this.flashMessage.error({
                            message: 'Some error occurred, Please try again',
                            time: 5000
                        });
                        break;
                }
            }
        },
        deleteProduct: async function(product){
            if(!window.confirm(`Are you sure you want to delete ${product.name}`)){
                return;
            }

            try {
                await productService.deleteProduct(product.id);
                this.products = this.products.filter(obj => {
                    return obj.id != product.id;
                });
                this.flashMessage.success({
                    message: 'Product deleted successfully!',
                    time: 5000
                });
            } 
            catch (error) {
                this.flashMessage.error({
                    message: error.response.data.message,
                    time: 5000
                });
            }
        },

        //------------------- Edit -----------------//
        hideEditProductModal(){
            this.$refs.editProductModal.hide();
        },
        showEditProductModal(){
            this.$refs.editProductModal.show();
        },
        editAttachImage(){
            //to use file reader
            this.editProductData.image= this.$refs.editProductImage.files[0];
            
            let reader = new FileReader();
            reader.addEventListener('load', function(){
                this.$refs.editProductImageDisplay.src = reader.result;
            }.bind(this), false);

            reader.readAsDataURL(this.editProductData.image);
        },
        editProduct(Product){
            this.editProductData = {...Product};
            this.showEditProductModal();
        },
        updateProduct: async function(){
            try {
                const formData = new FormData();
                formData.append('name', this.editProductData.name);
                formData.append('image', this.editProductData.image);
                formData.append('category_id', this.editProductData.category_id);
                formData.append('_method', 'PUT');
                
                const response = await productService.updateProduct(this.editProductData.id ,formData);
                this.products.map(Product=> {
                    if(Product.id == response.data.id){
                        // Product = response.data;
                        // Hoặc
                        for(let key in response.data){
                            Product[key] = response.data[key]
                        }
                    }
                });

                this.hideEditProductModal();
                this.flashMessage.success({
                    message: 'Product updated successfully!',
                    time: 5000
                });
            } catch (error) {
                this.flashMessage.error({
                    message: error.response.data.message,
                    time: 5000
                });
            }
        },
        
        //----------------- Load more -------------------//
        LoadMoreRecords: async function(){
            console.log('loadmore');
            try {
                const response = await productService.loadMoreProducts(this.nextPage);
                
                if(response.data.current_page < response.data.last_page){
                    this.moreExists = true;
                    this.nextPage = response.data.current_page + 1;
                }
                else{
                    this.moreExists = false;
                }

                response.data.data.forEach(data => {
                    this.products.push(data);
                });
            } catch (error) {
                this.flashMessage.error({
                    message: 'Some error occurred during loading more products',
                    time: 5000
                });
            }
        },

        findCategory(category_id){
            let category_name = '';
            this.categories.forEach(category =>{
                if(category.id==category_id){
                    category_name = category.name;
                }
            });

            return category_name;
        }
    }
};
</script>

<style>
</style>