<template>
    <main>
        <h1>Welcome</h1>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" @click="userScope()">User scope</button>
                <button class="btn btn-danger" @click="adminScope()">Admin scope</button>
            </div>
        </div>
    </main>
</template>

<script>
import * as user from '../services/user_service';

export default {
    methods: {
        userScope: async function(){
            try {
                const response = await user.userScope();
                console.log(response);
            } catch (error) {
                console.log('' + error, error.response.status);
            }
        },
        adminScope: async function(){
            try {
                const response = await user.adminScope();
                console.log(response);
            } catch (error) {
                console.log('' + error, error.response.status);
            }
        },
    }
}
</script>

<style>

</style>