<template>
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <router-link to="/" class="nav-link">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-tachometer-alt"></i>
                </div>Dashboard
            </router-link>
            <router-link to="/categories" v-if="$store.state.profile.role == 'administrator'" class="nav-link">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-tachometer-alt"></i>
                </div>Categories
            </router-link>
            <router-link to="/products" v-if="$store.state.profile.role == 'author'" class="nav-link">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-tachometer-alt"></i>
                </div>Products
            </router-link>
            <router-link to="/register" class="nav-link">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-tachometer-alt"></i>
                </div>Register
            </router-link>
            <router-link to="/login" class="nav-link">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-tachometer-alt"></i>
                </div>Login
            </router-link>
        </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>Start Bootstrap
    </div>
  </nav>
</template>

<script>
export default {};
</script>

<style>
</style>