<template>
    <div class="post-ml">
        {{PostData}}
        <br>
        <button @click="showPreloader">Show preloader</button>
    </div>
</template>

<script>
import LoadingOverlay from "gasparesganga-jquery-loading-overlay/dist/loadingoverlay.min.js";

export default {
    name: 'app',
    data(){
        return{
            PostData: [
                {id: 1, name: 'post 1', content: 'content post 1'},
                {id: 2, name: 'post 2', content: 'content post 2'}
            ]
        }
    },
    methods: {
        showPreloader(){
            // Show LoadingOverlay
            $(".post-ml").LoadingOverlay("show", {
                background  : "rgba(242, 242, 242, 0.5)"
            });

            // Hide it after 3 seconds
            setTimeout(function(){
                 $(".post-ml").LoadingOverlay("hide");
            }, 3000);
        }

    }
}
</script>

<style>

</style>