<template>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Register</h3></div>
                                <div class="card-body">
                                    <form v-on:submit.prevent="register">
                                        <div class="form-group">
                                            <label class="small mb-1" for="name">Name</label>
                                            <input class="form-control py-4" v-model="user.name" id="name" type="text" placeholder="Enter name" />
                                            <div class="invalid-feedback" v-if="errors.name">{{ errors.name[0] }}</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="email">Email</label>
                                            <input class="form-control py-4" v-model="user.email" id="email" type="email" placeholder="Enter email address" />
                                             <div class="invalid-feedback" v-if="errors.email">{{ errors.email[0] }}</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="password">Password</label>
                                            <input class="form-control py-4" v-model="user.password" id="password" type="password" placeholder="Enter password" />
                                             <div class="invalid-feedback" v-if="errors.password">{{ errors.password[0] }}</div>
                                        </div>
                                         <div class="form-group">
                                            <label class="small mb-1" for="password_confirmation">Password confirm</label>
                                            <input class="form-control py-4" v-model="user.password_confirmation" id="password_confirmation" type="password" placeholder="Enter password" />
                                             <div class="invalid-feedback" v-if="errors.password_confirmation">{{ errors.password_confirmation[0] }}</div>
                                        </div>
                                        <div class="form-group text-right">
                                            <button type="submit" class="btn btn-primary">Register</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</template>

<script>
import * as auth from '../../services/auth_service';

export default {
    name: "Register",
    data(){
        return {
            user: {
                name: '',
                email: '',
                password: '',
                password_confirmation:''
            },
            errors: {}
        }
    },
    methods: {
        register: async function(){
            try {
                await auth.register(this.user);
                this.errors = {};
                this.$router.push('/login');
            } catch (error) {
                switch (error.response.status) {
                    case 422: // Validate
                        this.errors = error.response.data.errors;
                        break;
                    case 500: // Internal Server Error
                        this.flashMessage.error({
                            message: error.response.data.message,
                            time: 5000
                        });
                        break;
                    default: 
                        this.flashMessage.error({
                            message: 'Some error occurred, Please try again!',
                            time: 5000
                        });
                        break;
                }
            }
        }
    }

}
</script>

<style>

</style>